body{
    margin: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: "Arial", Times, serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(4, 35, 49);
    background: url(https://sc02.alicdn.com/kf/H385b131621b04227b70d18f552db29f17.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}
.login-box{
    width: 650px;
    height: 300px;
    padding: 40px 40px 40px 40px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 13px 13px 20px #070707,
    -13px -13px 20px #353333;
}
.title {
   background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr0aBo1ZZjC10pMcemh-sPsGNZSysGASXImg&usqp=CAU);
}
.subtitle {
    color: #042331;
    font-size: 22px;
    padding-top: 7px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10px;
}
.textbox {
    height: 2.4rem;
    display: grid;
    width: 100%;
    border: 1px solid chocolate;
    border-radius: 5px;
    margin-top: 10px;
}
.sesion {
    width: 100%;
    height: 2.4rem;
    background-color: #5D92F4;
    border: 1px solid #5D92F4;
    color: white;
    Margin: 0px 0px 5px;
    padding: 8px 22px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
